<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">                                                                                
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{$company_name}</title>
</head>                    
<body>    
  <table>
    <tr valign="top">
      <td style="width:230px;">{$menu_str}</td>
      <td style="width:800px;">
    <div style="width:99%;text-align:center;height:30px;font-size:20px;padding-top:3px;" 
        class="ui-widget ui-widget-content">
        {$function_name}
    </div>
          {$main_str}
        </td>
    </tr>
